node_modules
dist
dist-ssr
.vite
*.local

# TypeScript incremental build artefacts
*.tsbuildinfo
vite.config.d.ts
vite.config.js

# private registry credentials
.npmrc

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
